body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
    overflow: hidden; 
}

* {
  box-sizing: border-box;
}


.NYSEENOW-LOGO {
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateX(10px); /* Adjust this value as needed */
}


.NYSEENOW-LOGO img {
  max-height: 100%; /* Limit the height of the logo image to 100% of the container */
  width: auto; /* Allow the width to adjust automatically to maintain aspect ratio */
}

.site-title {
  font-size: 2rem;
}

.map-container {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  position: absolute;
  top: 60px;
  left: 60px;
}

aside.side-bar {
  background: radial-gradient(circle at top left, #000000, #007991);
  color: white;
  display: grid; /* Change display to grid */
  grid-template-columns: 1fr auto; /* Two columns: content and icons */
  height: 100vh;
  width: 60px;
  position: fixed;
  left: 0;
  grid-template-columns: 1fr auto;
  z-index: 2;
  transition: width 0.3s ease;
  overflow: hidden; /* Hide the overflow */
}

aside.side-bar.open {
  width: 50%;
  overflow-y: auto; /* Show scrollbar when open */
  grid-template-columns: 1fr 54px;
}

.sidebar-content-icons-container {
  position: relative; /* Make this container a reference for absolute positioning */
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.side-bar.open .sidebar-icons {
  width: 0%;
}

.sidebar-icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}

.sidebar-content.closed {
  display: none;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push top-icons and question-mark-icon to the extremes */
  height: 100%;
  margin-left: -0.5rem;
  order: 2;
  transform: translateX(-10px);
}

.top-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-top: 1rem; /* Increase or decrease to move the top icons down or up */
}

.side-bar.open .sidebar-content {
  opacity: 1;
}

.hamburger-icon:hover, 
.question-mark-icon:hover,
.calendar-icon:hover,
.marker-icon:hover {
  background-color: #123456;  /* Your preferred color */
  border-radius: 50%;         /* Make the background round, adjust as per your need */
  transition: background-color 0.3s ease; /* This will create a smooth color transition */
  box-shadow: 0 0 0 10px #123456;  /* Use box-shadow instead of border */
}



.question-mark-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0; /* Adjust if needed */
  padding-bottom: 1rem;
}

.question-mark-icon img {
  width: 30px;
  height: 30px;
}

.hover-card-container {
  background: radial-gradient(circle at top left, white, #007991);
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.hover-card-info {
  flex-basis: 40%; /* Adjust this value as needed */
}

.hover-card-image {
  flex-basis: 55%; /* Adjust this value as needed */
}

.hover-card-image img {
  width: 100%;
  height: auto;
}


.attraction-card {
  background: radial-gradient(circle at top left, #007991, black);
  border: 1px solid gray;
  padding: 30px;
  margin: 10px 0;
  position: relative;
  max-width: 530px;
}

.attraction-counter {
  background: radial-gradient(circle at top left, white, #007991);
  position: fixed;
  bottom: 10px;
  left: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 18px;
  z-index: 3;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-delete-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.card-content {
  margin-top: 10px;
}

/* Scroller Bar Webkit like Chrome */
.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.sidebar-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #000;
  order: 1; /* Make sure content is displayed before the icons */
  overflow-y: auto; /* Enable scrolling */
}


.now-mode-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 18px;
  z-index: 3;
  cursor: pointer;
}

.now-mode-button p {
  margin: 0;
}

.now-mode-button.on {
  background: radial-gradient(circle at top left, rgb(175, 255, 155), green);
}

.now-mode-button.off {
  background: radial-gradient(circle at top left, rgb(255, 164, 164), red);
}
