body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  z-index: 1;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.NYSEENOW-LOGO {
  display: flex;
  align-items: center;
  height: 100%; /* Set the height of the container to 100% of the parent element */
}

.NYSEENOW-LOGO img {
  max-height: 100%; /* Limit the height of the logo image to 100% of the container */
  width: auto; /* Allow the width to adjust automatically to maintain aspect ratio */
}

.site-title {
  font-size: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li:hover {
  background-color: pink;
}

nav li.active {
  background-color: lightgray;
}

.map-container {
  width: 100%;
  height: 90vh;
}

aside.side-bar {
  background-color: black;
  color: white;
  display: grid; /* Change display to grid */
  grid-template-columns: 1fr auto; /* Two columns: content and icons */
  height: 100vh;
  width: 54px;
  position: fixed;
  left: 0;
  grid-template-columns: 1fr auto;
  z-index: 2;
  transition: width 0.3s ease;
  overflow: hidden; /* Hide the overflow */
}

aside.side-bar.open {
  width: 50%;
  overflow-y: auto; /* Show scrollbar when open */
  grid-template-columns: 1fr 54px;
}

.sidebar-content-icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Enable scrolling */
}

.side-bar.open .sidebar-icons {
  width: 0%;
}

.sidebar-icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}

.sidebar-content.closed {
  display: none;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 3rem; /* Adjust the gap value as needed */
  margin-left: -0.5rem; /* Adjust the margin-left value as needed */
  order: 2;
  height: 100%;
  align-items: center;
  margin-top: 0.7rem; /* Adjust the margin-top value as needed */
}

.side-bar.open .sidebar-content {
  opacity: 1;
}

.question-mark-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.question-mark-icon img {
  width: 30px;
  height: 30px;
}

.hover-card-containter {
  background-color: white;
  color: black;
  padding: 12;
}

.attraction-card {
  border: 1px solid gray;
  padding: 30px;
  margin: 10px 0;
  position: relative;
  max-width: 530px;
}

.attraction-counter {
  position: fixed;
  bottom: 10px;
  left: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 18px;
  z-index: 3;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-delete-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.card-content {
  margin-top: 10px;
}

/* Scroller Bar Webkit like Chrome */
.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.sidebar-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #000;
  order: 1; /* Make sure content is displayed before the icons */
  overflow-y: auto; /* Enable scrolling */
}


.now-mode-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 18px;
  z-index: 3;
  cursor: pointer;
}

.now-mode-button p {
  margin: 0;
}

.now-mode-button.on {
  background-color: green;
}

.now-mode-button.off {
  background-color: red;
}

