body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  z-index: 1; /* lower z-index */
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.site-title {
  font-size: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li:hover {
  background-color: pink;
}

nav li.active {
  background-color: lightgray;
}

aside.side-bar {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4rem;
  padding: 1rem 1rem;
  height: 100vh; /* full height */
  width: 54px; /* adjust width as needed */
  position: fixed; /* fixed position */
  left: 0; /* stick to the left */
  z-index: 2; /* higher z-index */
}

aside.side-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
