.weather-data {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Ensure the weather data appears above the map */
  }