.tripContainer {
  border: 1px solid black;
  padding: 1rem;
  margin: auto;
  position: relative;
  max-width: 70rem;
  width: 30rem;
}
.card-delete-button-trip {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

