.tripContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 0.5vw 2vw;
  margin: 0.5vw auto;
  position: relative;
  max-width: 70vw;
  width: 70vw;
  box-shadow: 2vw;
  overflow: scroll;
  gap: 10vw;
}

.tripContainer img {
  width: 5vw;
  height: 5vw;
}
.card-delete-button-trip {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tripDetails {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

@media (max-width: 600px) {
  .tripContainer img {
    width: 15vw;
    height: 15vw;
    margin: auto;
  }
  .tripContainer {
    flex-direction: column;
  }
  .tripDetails {
    flex-direction: column;
  }

  .buttonContainer {
    padding-left: 0vw;
  }
}
